---
// 1. `frontmatter` prop 提供了访问 frontmatter 和其他数据的能力
const { frontmatter } = Astro.props;
---

<html>
  <head> </head>
  <body>
    <main class="md-layout">
      <slot />
    </main>
  </body>
</html>

<style>
  .md-layout {
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
  }
</style>
